/******************  *******************
			   General
 ******************  *******************/
a:focus {
	text-decoration: none;
}
/******************  *******************
			   Breadcrumb
 ******************  *******************/
 #breadcrumb-alt {
  margin-bottom: 30px;
}
.breadcrumb-nav-holder ul li:after {
  color: #888;
  content: ">";
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  margin-left: 14px;
}
.breadcrumb-nav-holder ul li a {
    color: #ED008C !important;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 12px;
}
.breadcrumb > li {
    font-size: 12px;
}
/******************  *******************
			  left-sidebar
 ******************  *******************/
.product-list {
  padding: 0;
}
.brands-name {
  padding-left: 15px;
  padding-right: 15px;
}
.brands-name ul li {
	padding: 5px 0;
}
.brands-name .le-checkbox {
  margin-right: 5px !important;
}
.brands-name ul li label {
  color: #696763;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.featured-item {
  padding: 15px 15px 20px 5px;
}
.featured-item .product-list li{
	margin-bottom: 5px;
}
.featured-item .price .price-prev {
  color: #999;
}
a[aria-expanded="true"] > span >i.fa.fa-plus:before {
    content: "" !important;
}
/******************  *******************
            Slider-Carousel
******************  *******************/
.carousel-indicators {
    display: none;
}
/******************  *******************
			 Single Products
 ******************  *******************/
.single-products .price {
  padding: 0 15px;
}
.price .price-prev + .price-current {
  float: right;
}
.price .price-prev h2 {
  color: #edcea6 !important;
  position: relative;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
}
#etalage > li:first-child img:last-child {
  display: none !important;
  opacity: 0 !important;
}
#item-Review #nameAddClass,
#item-Review #emailAddClass,
#item-Review-Item #nameAddClass,
#item-Review-Item #emailAddClass {
  float: left;
  width: 48%;
}
#item-Review #emailAddClass,
#item-Review-Item #emailAddClass {
  margin-left: 3.5%;
}
#item-Review span {
	margin-bottom: 20px;
}
#item-Review-Item span {
	display: inline !important;
}
/******************  *******************
			  Basket Item
 ******************  *******************/
#show_cart_items_wrapper {
    border-radius: 0;
    left: auto;
    padding: 5px 0;
    right: 0 !important;
    width: 270px;
}
#show_cart_items_wrapper li {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
}
#show_cart_items_wrapper li:last-child {
	border-bottom: none;
}
#show_cart_items_wrapper .basket-item .thumb {
  height: 70px;
  width: 70px;
}
#show_cart_items_wrapper .basket-item .item-details .title,
#show_cart_items_wrapper .basket-item .item-details .item-quantity {
  color: #696763;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
#show_cart_items_wrapper .basket-item .item-details .price {
  color: #ED008C;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#show_cart_items_wrapper .basket-item .remove_from_cart {
  color: #696763;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}
#show_cart_items_wrapper .basket-item .remove_from_cart:hover {
	color: #ED008C;
}
.btn-cart {
    background: none repeat scroll 0 0 #ED008C;
    border: 1px solid #ED008C;
    border-radius: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.btn-cart:hover, .btn-cart:active {
  color: #fff !important;
  border: 1px solid #D30C80;
  box-sizing: border-box;
  transition: background .5s ;
}
.count.badge,
.value.badge {
  background-color: #fff;
  color: #777;
  border-radius: 0!important;
}
.shop-menu {
}
.navbar-nav > li.cart-nav > a {
    float: left;
}
.basket {
    background: none repeat scroll 0 0 #ED008C;
    display: table;
    float: left;
    margin-left: 14px;
    padding: 5px 7px;
    position: relative;
    width: -moz-fit-content;
    z-index: 5;
    cursor: pointer;
}
/*.basket:before {*/
    /*border-bottom: 8px solid transparent;*/
    /*border-right: 8px solid #ED008C;*/
    /*border-top: 8px solid transparent;*/
    /*content: "";*/
    /*left: -8px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
.basket-item-count {
  color: #fff;
  margin-bottom: 3px;
  white-space: nowrap;
}
.total-price-basket .total-price .sign {
  float: left;
}
.total-price-basket .total-price .value {
	float: right;
}
.basket .total-price-basket {
  color: #fff;
  white-space: nowrap;
}
/******************  *******************
			Category Side Menu
 ******************  *******************/
.panel-body ul li a {
  display: block;
  padding: 5px;
}
.panel-body ul li a:hover {
	color: #ED008C;
}
/******************  *******************
			Product Details
 ******************  *******************/
 .attr-row {
  display: block;
  overflow: hidden;
}
.attr-row div {
  display: table;
  float: left;
  min-width: 50px;
}
.attr-row span {
  margin: 0;
}
/******************  *******************
				View Cart
 ******************  *******************/
#cart_items .table {
	margin-bottom: 0;
}
/******************  *******************
			   Login Page
 ******************  *******************/
.forget-pass input[id="email"] {
  margin-top: 8px;
}
/******************  *******************
			     Ribbon
 ******************  *******************/
.ribbon {
  font-size:11px;
  font-weight:700;
  line-height:20px;
  padding:4px 14px;
  text-transform:uppercase;
  top:2.5%;
  z-index:100;
  position:absolute;
}
.ribbon:after {
  border-left: 0 none;
  border-right: 14px solid transparent;
  border-top-style: solid;
  border-top-width: 28px;
  content: "";
  display: inline-block;
  height: 0;
  left: 0;
  min-width: 68px;
  position: absolute;
  top: 0;
  width: 100%;
}
.ribbon span {
  margin-right: 11px;
  position: relative;
  z-index: 100;
  color: #fff;
}

.green {
  color:#59B210;
}
.blue {
  color:#407AC5;
}
.red {
  color:#F8484A;
}

.ribbon:nth-child(2) {
    margin-top: 30px;
}
.ribbon:nth-child(3) {
  margin-top:60px;
}
.product-review {
	margin-bottom: 100px;
}
.preloader {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.29);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
}

.ui-autocomplete.ui-front {
  background: none repeat scroll 0 0 #f8f8f8;
  width: 155px;
  padding: 0;
}
.ui-autocomplete.ui-front li{
	border-bottom: 1px solid #f1f1f1;
	padding: 5px;
}
.ui-autocomplete.ui-front li:hover {
	background: #ED008C;
	color: #fff;
}
.cart-nav {
    margin-top: 20px;
}
.search_box {
    margin-top: 20px;
}
.contactinfo {
    margin-top: 22px;
}
.contactinfo ul {
    margin-bottom: 0;
}
.choose ul li a {
    color: #ec008c;
}
.category-products .badge {
    background: #ec008c !important;
}
.slider {
    margin-bottom: 30px;
}
.badges-post {
    margin-top: 10px;
}
.badges-post ul li{
    margin-bottom: 10px;
}
.badges-item {
    background: #333645;
    color: #fff;
    padding:10px;
}
.badges-item a {
    color: #fff;
}
.badges-item a:hover, .badges-item a:active, .badges-item a:focus {
    color: #fff;
}
.badges-item .badges-icon {
    background: #ED008C none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    height: 70px;
    padding: 14px;
    text-align: center;
    width: 70px;
 }
.badges-item h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 16px;
}
.badges-item p {
    font-size: 12px;
    margin-bottom: 0;
}
.slider-text {
    left: 50px;
    position: absolute;
    top: 0;
}
.slider-text h1 {
    color: #fff;
}
.slider-bg img{
    width: 100%;
}
.wishlist > a {
    color: #fff;
}
.slogan h3 {
    color: #fff;
    padding-left: 45px;
}
.sidebar-product-list-item .brand, .sidebar-product-list-item .price {
    color: #eee;
}
.brands-name .badge {
    background: #ed008c none repeat scroll 0 0;
}